body {
  text-align: center;
  background-color: #e7eaf6;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  display: block;
  margin: 50px auto;
  margin-bottom: 10px;
  padding: 15px;
}
h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

select {
  width: 95%;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.city {
  display: flex;
  padding: 25px;
  justify-content: space-between;
  text-align: left;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-of-type {
  border: none;
}

.time {
  text-align: left;
  font-size: 34px;
  font-weight: 700;
}

.time small {
  font-size: 14px;
  vertical-align: middle;
}
